.choice {
    padding: 87px 0 200px;
}
.choice-row {
    display: flex;
    gap: 50px;
}
.choice__description {
    max-width: 456px;
}
.choice__description-title {
    margin-bottom: 15px;

    font-weight: 600;
    font-size: 1.875rem;
    line-height: 150%;
    color: #0F1F1C;
}
.choice__description-title span {
    font-weight: 600;
    font-size: 3.44rem;
    line-height: 149%;
    color: #0F1F1C;
}
.choice__description-wrapper {
    margin-bottom: 60px;
}
.choice__description-text {
    font-weight: 500;
    font-size: 1.56rem;
    line-height: 152%;
    color: #0F1F1C;
    opacity: 0.5;
}
/*Slider
=================================================*/
.choice__slider {
    width: 1110px;
    flex-shrink: 0;
}
.slider__img {
    width: 335px;
    height: 402px;
    object-fit: cover;
    vertical-align: top;
    border-radius: 35px;
}
.slider__img.active {
    width: 380px;
    height: 456px;
}



