.header {
    position: relative;
    padding: 35px 0 199px;

    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 96px;
    bottom: 0;
    left: 0;
    background: url("../img/header-vector.svg");
}
.header__row {
    display: flex;
    align-items: center;
    gap: 238px;
    position: relative;
    z-index: 1;
}
.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.header__logo-link {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 150%;
    color: #FFFFFF;
}
.header__nav {
    margin-left: auto;
}
.header__nav-list {
    display: flex;
    align-items: center;
    gap: 80px;
}
.header__nav-list-item-link {
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 147%;
    color: #FFFFFF;
}
.header__login {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header__login-sign-up-link {
    display: inline-block;

    font-weight: 500;
    font-size: 0.94rem;
    line-height: 147%;
    color: #FFFFFF;
}
.header__login-btn {
    display: flex;
}
.header__login-btn-link {
    padding: 13px 44px;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    font-weight: 500;
    font-size: 0.94rem;
    line-height: 147%;
    color: #FFFFFF;
}
/*Content
=============================================*/
.header__content {
    margin-top: 95px;
    max-width: 592px;
    position: relative;
    z-index: 1;
}
.header__content-title {
    display: inline-block;
    padding: 12px 31px;
    margin-bottom: 7px;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    color: #FFFFFF;
}
.header__content-subtitle {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 3.44rem;
    line-height: 149%;
    color: #FFFFFF;
}
.header__content-text {
    margin-bottom: 68px;

    font-weight: 700;
    font-size: 1.56rem;
    line-height: 152%;
    color: #FFFFFF;
    opacity: 0.5;
}
.header__content-button {
    display: flex;
}
.header__content-button__link {
    padding: 26px 47px;

    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
    font-weight: 600;
    font-size: 1.56rem;
    line-height: 152%;
    color: #FEFEFE;
}
.header__img {
    position: absolute;
    top: -9px;
    left: 780px;
    width: 894px;
    height: 948px;
}
.header__img-element {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;

}
.el-1 {
    position: absolute;
    top: 164px;
    left: 932px;
}
.el-2 {
    position: absolute;
    top: 227px;
    right: 335px;
}
.el-3 {
    position: absolute;
    bottom: 161px;
    left: 790px;
}
.el-4 {
    position: absolute;
    bottom: 166px;
    right: 290px;
}