@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body {
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #0F1F1C;

    background: #F6F6F6;
}
:root {
    --container-width: 1270px;
    --container-padding: 15px;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
.container-right {
    margin: 0 auto;
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));

}
/*.box {*/
/*    height: 200px;*/
/*    background: #21b211;*/
/*}*/